absl-py
altair
astunparse
attrs
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
flatbuffers
fonttools
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib_metadata
importlib_resources
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
narwhals
numpy
oauthlib
opt-einsum
packaging
pandas
pillow
pkgutil_resolve_name
protobuf==3.19.0
pyarrow
pyasn1
pyasn1_modules
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
scikit-learn
scipy
six
smmap
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
wrapt
xgboost
zipp
